main {
    margin: 4vw;
}

body {
    background-color: var(--color-cream);
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

 .prompt {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

form div label {
    align-self: flex-start;
    margin-bottom: 1vh;
    color: var(--color-primary-blue);
    font-family: var(--font-title);
}


input {
    width: 90vw;
    height: 5vh;
    border-radius: 10px;
    border-color: var(--color-primary-blue);;
}

button {

    width: 80vw;
    height: 6vh;
    background-color: var(--color-light-blue);
    border-radius: 10px;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

p {
    text-align: center;
    font-style: italic;
    font-size: .8rem;
}

h1 {
    color: var(--color-primary-blue);;

    text-align: center;
    margin-top: 5vh;
}

button:active {
    background-color: var(--color-primary-blue);
    color: white;
}

.error {
    margin-top: 0.5vh;
    font-style: normal;
    font-size: .7rem;
    color: red;
}

a {

    font-style: italic;
    font-size: .8rem;
    text-decoration: none;
    color: var(--color-primary-blue);
}

section {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-primary-blue);
    border-radius: 10px;

}