* {
    margin: 0;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');
    font-style: normal;
    font-weight: normal;
}

body {
    background: #F7EBE0;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #FBF7F4;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 0;
}

footer img {
    height: 40px;
    width: auto;
}
/* footer div.active {
    background: #F7EBE0;
    width: 60px;
    height: 60px;   
    border-radius: 50%;
} */

footer .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
}

/* actieve pagina highlight */
footer .item.active {
    background: #F7EBE0; /* beige bubble */
    /* box-shadow: 0 0 12px rgba(0,0,0,0.25); */
}

:root {
    --font-title: 'Sono', monospace;
    --font-body: Arial, sans-serif;
    --color-dark: #4a4845; /* R: 75, G: 73, B: 70 */ /* (darkmode) */
    --color-light-blue: #c6d9f4; /* R: 199, G: 217, B: 240 */
    --color-primary-blue: rgb(82, 118, 178); /* R: 83, G: 118, B: 178 */
    --color-cream: #F7EBE0; /* R: 247, G: 235, B: 223 */
    --color-off-white: #FBF7F4; /* R: 251, G: 241, B: 244 */
}

:root {
    --font-body: Arial, sans-serif;
}

body.dyslexia-mode {
    --font-body: 'opendyslexic', Arial, sans-serif;
}

h1, h2 {
    font-family: var(--font-title);
}


body {
    font-family: var(--font-body);
}


main {
    background-color: var(--color-cream);
}

form {
    background-color: var(--color-cream);
}

/* css voor profile en settings */
.profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.profile-header h1 {
    color: #5276B2;
}

.settings-link {
    height: 35px;
    width: auto;
}

.settings-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    color: #5276B2;
}
.settings-header span {
    font-size: 2rem;
}
.settings-header a {
    text-decoration: none;
    color: #5276B2;
}

.user-info p, h2{
    padding-left: 10%;
    color: #5276B2;
    padding-top: 5px;
}

.user-info a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.user-info div {
    display: flex;
    border: 2px solid #5276B2;
    background:#5276B2;
    padding: 5px 10px;
    border-radius: 10px;
    justify-content: center;
    width: 330px;
}

    /*milestones css*/
.milestone-path {
    width: 100%;
    height: 450px;
    overflow-x: hidden;   /* geen horizontale scroll */
    overflow-y: scroll;   /* verticale scrollen */
    white-space: nowrap;  /* voorkomt dat de afbeelding wrapt */
}

.milestone-img {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.milestone-img:nth-child(2) {
    margin-top: -75px; /* overlap */
    z-index: 5;
    position: relative;
    width: 130px; /* pas de breedte aan naar wens */
    padding-left: 230px;
}

.bg-image {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
        background-image: url("../images/standard-header-bg.jpg");
        background-size: cover;
        background-position: center;
        width: auto;
        height: 200px;
        border-radius: 10px;
        margin: 15px;

    }
